---
import Social from "./Social.astro";

// import { Icon } from 'astro-icon';
---

<footer class="luminix-footer-section1">
    <div class="container">
      
      <div class="luminix-footer-one">
        <div class="row">
          <div class="col-xxl-4 col-xl-3 col-md-6">
            <div class="luminix-footer-textarea">
              <a href="index.html">
                <img src="/images/logo/logo-claro.png" width="149"alt="">
              </a>
              <p>Diseño y desarrollo de páginas web 2025, que transforman la presencia digital de empresas y emprendedores. 
                Nuestro objetivo es ofrecer soluciones personalizadas y funcionales que se adapten a 
                las necesidades de nuestros clientes, con un enfoque en calidad, usabilidad y estética. desde 2012
              diseñando páginas web</p>
              <div class="luminix-social-wrap wrap2">
                <Social />
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 col-md-6">
            <div class="luminix-footer-menu pl-50 ml-15">
              <div class="luminix-footer-title">
                <h5>Link relacionados</h5>
              </div>
              <ul>
                <li>
                  <a href="https://diseñopaginas.cl/paginas-web-clinica-dental.php">Web Dentistas</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-de-logotipo.php">Logos e identidad visual</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/web-tienda-online.php">Tiendas Online</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/paginas-web-empresas-mineria.php">Empresas Minería</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-abogados.php">Webs Abogados</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-corredor-propiedades.php">Corredoras propiedades</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-md-6">
            <div class="luminix-footer-menu pl-51">
              <div class="luminix-footer-title">
                <h5>Link relacionados</h5>
              </div>
              <ul>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-antofagasta.php">Páginas web Antofagasta</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-la-serena.php">Páginas web La Serena</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-santiago.php">Páginas web Santiago</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-concepcion.php">Páginas web Concepción</a>
                </li>
                <li>
                  <a href="https://diseñopaginas.cl/diseno-web-temuco.php">Páginas web Temuco</a>
                </li>
                <li>
                    <a href="https://diseñopaginas.cl/diseno-web-valdivia.php">Páginas web Valdivia</a>
                  </li>
                  <li>
                    <a href="https://diseñopaginas.cl/diseno-web-osorno.php">Páginas web Osorno</a>
                  </li>
                  <li>
                    <a href="https://diseñopaginas.cl/diseno-web-puerto-montt.php">Páginas web Puerto Montt</a>
                  </li>
                  <li>
                    <a href="https://diseñopaginas.cl/diseno-web-arica.php">Páginas web Arica</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-md-6">
            <div class="luminix-footer-menu2 mb-0 pl-50">
              <div class="luminix-footer-title">
                <h5>Datos de contacto</h5>
              </div>
              <ul>
                <li>
                  <img src="/images/iconbox/location.svg" alt="">
                  Temuco, Chile
                </li>
                <li>
                  <a href="mailto:name@email.com">
                    <img src="/images/iconbox/mail.svg" alt="">
                    codigoraul@gmail.com
                  </a>
                </li>
                <li>
                  <a href="tel:+56 961765268">
                    <img src="/images/iconbox/call.svg" alt="">
                    (+56) 9 61765268
                  </a>
                </li>
                <li>
                  <img src="/images/iconbox/clock.svg" alt="">
                  Lunes a sábado: de 10:00. a 23:00 hrs
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="luminix-footer-bottom-text">
        <p>Copyright  <span id="current-year"></span>, <a href="https://diseñopaginas.cl">diseñopaginas.cl</a></p>
      </div>
    </div>
  </footer>