---

---


<div id="portafolio" class="luminix-padding-section3">
    <div class="container">
      <div class="luminix-section-title">
        <div class="row">
          <div class="col-xl-5 col-lg-6">
            <h2 class="title2">Nuestro portafolio de proyectos web</h2>
          </div>
          <div class="col-xl-7 col-lg-6 d-flex align-items-center justify-content-end">
            <div class="luminix-title-btn pl-102">
              <p>Trabajamos con empresas de diversos sectores, así como con emprendedores que buscan destacar en el mercado digital chileno.</p>
              <p>Sea cual sea el tamaño de tu proyecto, estamos aquí para llevar tu presencia en línea al siguiente nivel.
                 ¡Contáctanos para una cotización personalizada! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="luminix-team-slider">
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/arqueocat.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://arqueocat.cl" target="_blank">
              <h5>www.arqueocat.cl</h5>
            </a>
            <p>Diseño web Arqueloga</p>
          
          </div>
        </div>
      </div>
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/animaldoc.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://animaldoc.cl" target="_blank">
              <h5>www.animaldoc.cl</h5>
            </a>
            <p>Diseño web Veterinaria</p>
          
          </div>
        </div>
      </div>
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/apurolegal.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://apurolegal.cl" target="_blank">
              <h5>www.apurolegal.cl</h5>
            </a>
            <p>Diseño web Abogados</p>
          
          </div>
        </div>
      </div>
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/asesorialimentos.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://asesorialimento.cl" target="_blank">
              <h5>www.asesorialimento.cl</h5>
            </a>
            <p>Diseño web Alimentos</p>
          
          </div>
        </div>
      </div>
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/bestproperty.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://bestproperty.cl" target="_blank">
              <h5>www.bestproperty.cl</h5>
            </a>
            <p>Diseño web Propiedades</p>
          
          </div>
        </div>
      </div>
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/ceromultas.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://ceromultas.cl" target="_blank">
              <h5>www.ceromultas.cl</h5>
            </a>
            <p>Diseño web Abogados</p>
          
          </div>
        </div>
      </div>
      <div class="luminix-team-wrap">
        <div class="luminix-team-thumb">
          <img src="/images/portafolio/comprobe.jpg" alt="">
          <div class="luminix-blog-thumb">
            <a href="https://comprobe.cl" target="_blank">
              <h5>www.comprobe.cl</h5>
            </a>
            <p>Diseño web Empresa</p>
          
          </div>
        </div>
      </div>
     
    </div>
    
  </div>