---

---

<section id="precio" class="luminix-padding-section4 light-bg1">
    <div class="container">
      <div class="luminix-section-title center">
        <h2 class="title2">Nuestras Tarifas o Precios</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="luminix-pricing-wrap" data-aos="fade-up" data-aos-duration="500">
            <div class="luminix-pricing-header">
              <h6>LANDING PAGE</h6>
            </div>
            <div class="luminix-pricing-price">
              <h3>$160.OOO</h3>
              <span>$180.000</span>
            </div>
            <div class="luminix-pricing-text">
              <p>Sin mensualidad o pagos extras</p>
            </div>
            <div class="luminix-pricing-body">
              <div class="luminix-list-icon-content">
                <ul>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Hosting 2 gb por 1 año

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Astro js(HTML) o Autoadministrable (CMS wordpress)

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1  Páginas o onepage 

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Galería de imagenes hasta 12 imagenes

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    4 Servicios o secciones
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Slider principal de 3 imagenes
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Mapa de ubicación google
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1 Formulario de contacto
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    3 Correos corporativos
                  </li>
                </ul>
              </div>
            </div>
            <div class="luminix-pricing-footer mt-50">
              <a href="https://api.whatsapp.com/send?phone=56961765268&text=Hola,%20vi%20su%20contacto%20desde%20dise%C3%B1opaginas.cl%20y%20necesito%20el%20plan%20de%20Landing%20%Page:" class="luminix-default-btn d-block extra-btn">Elegir este plan</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="luminix-pricing-wrap" data-aos="fade-up" data-aos-duration="700">
            <div class="luminix-pricing-header">
              <h6>SITIO WEB - MEDIO (desde)
                </h6>
            </div>
            <div class="luminix-pricing-price">
              <h3>$280.OOO.- </h3>
              <span>$300.OOO.- </span>
            </div>
            <div class="luminix-pricing-text">
              <p> Sin mensualidad o pagos extras
                </p>
            </div>
            <div class="luminix-pricing-body">
              <div class="luminix-list-icon-content">
                <ul>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Hosting 3 gb por 1 año
                
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Autoadministrable
                
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    4 A 12 Páginas o secciones 
                
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Galería de hasta 30 imágenes aprox
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    
                  15 Servicios aprox, texto y descripciones
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    15 Productos aprox en catalogo
                    
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Slider principal de 4 imagenes
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Mapa de ubicación google
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    2 Formulario de contacto
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    5 Correos corporativos

                </ul>
              </div>
            </div>
            <div class="luminix-pricing-footer mt-50">
              <a href="https://api.whatsapp.com/send?phone=56961765268&text=Hola,%20vi%20su%20contacto%20desde%20dise%C3%B1opaginas.cl%20y%20necesito%20el%20plan%20de%20la%20tarifa%20media:" class="luminix-default-btn d-block extra-btn">Elegir este plan</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="luminix-pricing-wrap" data-aos="fade-up" data-aos-duration="900">
            <div class="luminix-pricing-header">
              <h6> SITIO WEB - SUPERIOR (desde)
                </h6>
            </div>
            <div class="luminix-pricing-price">
              <h3>$320.000.-</h3>
              <span>$340.000.-</span>
            </div>
            <div class="luminix-pricing-text">
              <p>Sin mensualidad o pagos extras</p>
            </div>
            <div class="luminix-pricing-body">
              <div class="luminix-list-icon-content">
                <ul>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Hosting 8 gb y Dominio x 1 Año
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Autoadministrable
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    8 A 25 Páginas o secciones
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Galería de hasta 50 imágenes aprox
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    20 Servicios aprox, texto y descripciones
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    35 Productos aprox en catalogo, con categorias, etiquetas buscador
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Slider principal de 4 imagenes
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Mapa de ubicación google
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    5 Formulario de contacto
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                     Correos corporativos ilimitados
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    PDF instructivo con usuario y clave para editar su sitio web
                  </li>
                </ul>
              </div>
            </div>
            <div class="luminix-pricing-footer mt-50">
              <a href="https://api.whatsapp.com/send?phone=56961765268&text=Hola,%20vi%20su%20contacto%20desde%20dise%C3%B1opaginas.cl%20y%20necesito%20el%20plan%20de%20la%20tarifa%20avanzada:" class="luminix-default-btn d-block extra-btn">Elegir plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>