---

---

<section id="precio" class="luminix-padding-section4 light-bg1">
    <div class="container">
      <div class="luminix-section-title center">
        <h2 class="title2">Nuestras Tarifas o Precios</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="luminix-pricing-wrap" data-aos="fade-up" data-aos-duration="500">
            <div class="luminix-pricing-header">
              <h6>SI YA TIENES SITIO WEB</h6>
              <h6>LANDING PAGE</h6>
            </div>
            <div class="luminix-pricing-price">
              <h3>$70.000</h3>
              <span>$120.000</span>
            </div>
            <div class="luminix-pricing-text">
              <p>Sin mensualidad, pago único - ¡Ahorra $50.000!</p>
            </div>
            <div class="luminix-pricing-body">
              <div class="luminix-list-icon-content">
                <ul>
                  <!-- Hosting no incluido en esta oferta -->
                  <li style="visibility: hidden;"></li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Astro js(HTML), super rapida y segura

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1  Páginas o onepage 

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Galería de imagenes hasta 12 imagenes

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    4 Servicios o secciones
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Hero Principal Imagen y llamado a la acción
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Mapa de ubicación google
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1 Formulario de contacto a su correo
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Boton de whatsapp flotante
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Correos corporativos
                  </li>
                </ul>
              </div>
            </div>
            <div class="luminix-pricing-footer mt-50">
              <a href="https://api.whatsapp.com/send?phone=56961765268&text=Hola,%20vi%20su%20contacto%20desde%20dise%C3%B1opaginas.cl%20y%20necesito%20el%20plan%20de%20Landing%20%Page:" class="luminix-default-btn d-block extra-btn">Elegir este plan</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="luminix-pricing-wrap" data-aos="fade-up" data-aos-duration="700">
            <div class="luminix-pricing-header">
              <h6>LANDING PAGE - MEDIO</h6>
            </div>
            <div class="luminix-pricing-price">
              <h3>$140.000.-</h3>
              <span>$160.000.-</span>
            </div>
            <div class="luminix-pricing-text">
              <p>Sin mensualidad, se paga una sola vez</p>
            </div>
            <div class="luminix-pricing-body">
              <div class="luminix-list-icon-content">
                <ul>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Hosting 2 gb por 1 año
                  </li>
                  
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Astro js(HTML), super rapida y segura 
                
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1 Páginas o onepage 
                    
                  </li>
                   <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Galería de imagenes hasta 15 imagenes aprox

                  </li>
                  
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    
                    4 Servicios o secciones 
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                     Hero Principal Imagen y llamado a la acción 
                  </li>
              
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Mapa de ubicación google
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1 Formulario de contacto a su correo
                  </li>
                  <li>
                    <li>
                      <img src="/images/about-us/icon1.svg" alt="">
                      Boton de whatsapp flotante
                    </li>

                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Correos corporativos
                  </li>
                </ul>
              </div>
            </div>
            <div class="luminix-pricing-footer mt-50">
              <a href="https://api.whatsapp.com/send?phone=56961765268&text=Hola,%20vi%20su%20contacto%20desde%20dise%C3%B1opaginas.cl%20y%20necesito%20el%20plan%20de%20la%20tarifa%20media:" class="luminix-default-btn d-block extra-btn">Elegir este plan</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <div class="luminix-pricing-wrap" data-aos="fade-up" data-aos-duration="900">
            <div class="luminix-pricing-header">
              <h6>LANDING PAGE - AVANZADA</h6>
            </div>
            <div class="luminix-pricing-price">
              <h3>$200.000.-</h3>
              <span>$250.000.-</span>
            </div>
            <div class="luminix-pricing-text">
              <p>Sin mensualidad, pago único - ¡Ahorra $50.000!</p>
            </div>
            <div class="luminix-pricing-body">
              <div class="luminix-list-icon-content">
                <ul>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Hosting 3GB por 1 año
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Autoadministrable
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1 Páginas o onepage
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Galería de hasta 20 imágenes aprox
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    4 a 6 Servicios, texto y descripciones
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Slider principal de 4 imagenes
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Mapa de ubicación google
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    1 Formulario de contacto
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                     Correos corporativos ilimitados
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    PDF instructivo con usuario y clave para editar su sitio web
                  </li>
                  <li>
                    <img src="/images/about-us/icon1.svg" alt="">
                    Archivos robots.txt, sitemap.xml, optimización de velocidad
                  </li>
                </ul>
              </div>
            </div>
            <div class="luminix-pricing-footer mt-50">
              <a href="https://api.whatsapp.com/send?phone=56961765268&text=Hola,%20vi%20su%20contacto%20desde%20dise%C3%B1opaginas.cl%20y%20necesito%20el%20plan%20de%20la%20tarifa%20avanzada:" class="luminix-default-btn d-block extra-btn">Elegir plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>